*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

@font-face {
    font-family: Cheddar;
    src: url('../fonts/Cheddar.ttf');
    font-family: CaptureIt;
    src: url('../fonts/Capture\ it.ttf');
}

body{
    background-color: black;
    font-family: CaptureIt; 
}

.navbar-brand{
    color: white;
}
button{
    color: black;
}